/* Remove default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 5rem auto;
  text-align: center;
}

input[type="number"] {
  display: inline-block;
  height: 2rem;
  width: 15rem;
  border: .05rem solid grey;
  border-radius: .2rem;
}

