/* Remove default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(images/hallowed-boxes.svg);
  /* background-repeat: repeat; */
  /* background-size: cover; */
  /* background-position: center; */
}

.wrapper {
  margin: 5rem auto;
  text-align: center;
}

.wrapper h1 {
  color: #fff;
}

input[type="number"] {
  display: inline-block;
  height: 2rem;
  width: 15rem;
  border: .05rem solid grey;
  border-radius: .4rem;
}

button[id="get-jokes"] {
  display: inline-block;
  height: 2rem;
  background: rgb(93, 154, 0);
  border: none;
  padding: .2rem;
  border-radius: .4rem;
  color: #fff;
  width: 5rem;
}

button[id="get-jokes"]:hover {
  cursor: pointer;
  background: rgb(38, 178, 38);
}

::placeholder {
  text-align: center;
}

.output-contents > *{
  display: block;
  /* border: .05rem solid rgb(209, 197, 197); */
  margin: .2rem auto;
  text-align: center;
  width: 20rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}


